<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this book from being saved
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model:@book, url:book_path(@book.id), method: :patch do |f| %>

  <div class="field">
    <label for= "book_title">Title</label>
    <div class= "book_title">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class= "field">
    <label for= "book_body">Body</label>
    <div class="book_body">
      <%= f.text_area :body %>
    </div>
  </div>

  <div class="action">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>


<%= link_to 'Show', "/books/#{@book.id}" %>
 |
<%= link_to 'Back', "/books" %>



