<h1>Editing Book</h1>

<%= form_with model:@book do |f| %>

  <div class="field">
    <label for= "book_title">タイトル</label>
    <div class= "book_title">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class= "field">
    <label for= "book_body">Body</label>
    <div class="book_body">
      <%= f.text_area :body %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>


<%= link_to 'Show', "/books/#{@book.id}" %>
 |
<%= link_to 'Back', "/books" %>



